body{
    background-color: rgb(1, 70, 80);
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column; /* This is applied only on the home page for practice*/
}

.highlighted{
    color: rgb(221, 179, 56);

}
h1{
    color: rgb(221, 179, 56);
    text-align: center;
    font-weight: bold;
    text-decoration: underline 2px;
}

h3,h4{
    color: rgb(4, 169, 185);
    text-align: center;
    font-weight: bold;
    /* Trying to add a stroke to make it look better
    
    -webkit-text-stroke: 1px rgb(221, 179, 56);

    OR BETTER 

    text-shadow: -1px -1px 0 rgb(221, 179, 56),  
    1px -1px 0 rgb(221, 179, 56),
    -1px 1px 0 rgb(221, 179, 56),
    1px 1px 0 rgb(221, 179, 56);
    */
}

li{
    color: rgb(2, 137, 152);
    text-align: center;
    list-style-type: none;
}

.recipes{
    padding: 0;
    margin: 0;
}

a{
    color: rgb(221, 179, 56);
}

img{
    border-radius: 30px;
    border: 3px solid rgb(221, 179, 56);
    height: 200px;
    width: 300px;
    border: dotted;

}

img:hover{
    height: 205px;
    width: 305px;
}

